body {
    font-family: 'Inter', sans-serif;
}

h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.area {
    display       : flex;
    flex-direction: column;
    padding-left  : 40px;
    padding-right : 40px;
    margin-top    : 40px;
}

.navbar-group {
    display        : flex;
    justify-content: space-between;
}

.movie-list {
    flex-direction: column;
}

.row {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    margin-top     : 50px;
    flex-wrap      : wrap;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

.card {
    flex   : 1 0 21%;
    padding: 40px;
    width  : 300px;
    height : 600px;
}

.card-image {
    width: 100%;
}